@media (max-width: 1400px){
    html {
        font-size: 25px;
    }
}

@media (max-width: 768px){
    html {
        font-size: 18px;
    }
}

@media (max-width: 450px){
    html {
        font-size: 12px;
    }
}


body{
    background-color: grey;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav */
.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar img{
    height: auto;
    width: 5%;
}

.nav-form{
    margin-left: 2rem;
}

.nav-form input {
    width: 200%;
    border-radius: 1rem;
}

.nav-links{
    display: flex;
    gap:2rem;
    padding:2rem;
    margin-left: auto;
    
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.nav-bar a:visited{
    color: black;
}

.nav-bar a:link{
    color: black;
}

/* Header */

.header{
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}

.header-content {
    background-color: white;
    padding:4rem;
    width: 20%;
    border-radius: 1rem;
}

.header-content .text{
    font-size: 1rem;
    
}

.header-content .cost{
    font-size: 3rem;
    font-weight: bold;  
}

.header-content button{
    margin-top: 1.5rem;
    padding: 1rem;
    width: 50%;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.header img {
    height: 50%;
    width: 50%;
    margin-left: auto;
}

/* Content */

.content {
    background-color: lightgray;
}

.content-1,.content-2{
    display: flex;
    padding: 5rem;
    gap:5rem;
    
    align-items: center;
}

.content img{
    height: 30%;
    width: 30%;
}

.content div{
    font-size: 1.5rem;
}

/* Review */

.reviews {
    
    padding: 5rem;
}

.reviews form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-bottom: 2rem;
}

.reviews input {
    width: 40%;
    height: 2rem;
}

form label {
    font-size: 1rem;
    font-weight: bold;
}

.allreviews {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(50px,1fr));
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    gap:1rem;
    height: 60vh;
}

.allreviews div{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(50px,1fr));
    border: 3px solid black;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    
}

.reviews-btn {
    margin-top: 1rem;
}

/* Discount */

.voucher {
    display: flex;
    background-color: white;
    gap:2rem;
    padding: 3rem;
    
}

.voucher div {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

.voucher img{
    height: auto;
    width: 50%;
}

.btn {
    height: 2rem;
    width: 5rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    
}

.voucher-btn {
    height: 5rem;
    border-radius: 1.5rem;
    width: 7rem;
    font-size: 1rem;
}

button:hover{
    border: 3px solid black;
}

/* Footer */

.footer {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: center;
}

/* Form */

.form-particulars {
    position: relative;
    display: flex;
    justify-content: center;
    
}

.form-particulars form {
    z-index: 999;
    position: fixed;
    bottom:10rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 1rem;
    background-color: white;
    height: 55vh;
    width: 30%;
    gap:1rem
}

.form-particulars label {
    font-size: 3vh;
}

.overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.form-particulars button {
    align-self: flex-end;
}

/* Discount form */

.discount {
    display: flex;
    justify-content: center;
    position: relative;
}

.discount-form {
    display: flex;
    background-color: white;
    z-index: 999;
    height: 30vh;
    width: 40%;
    gap:1rem;
    position: fixed;
    bottom:18rem;
    padding: 2rem;
    border-radius: 1rem;
}

.discount-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
}

.discount-text {
    font-size: 0.5rem;
}

.discount button {
    margin-bottom: 8rem;
}

.discount img {
    width: 60%;
    height: auto;
}

/* Random */

.opacity {
    opacity: 50%;
}

.hidden {
    display: none;
    visibility: none;
}

.blur {
    filter: blur(1rem)
}

.btn-look {
    transition: 1s ease-in;
}

.btn-look:hover{
    box-shadow: 3px 5px 5px #999;
    background-color: teal;
    transform: translateX();
}
    
